:root {
  /* Colors: */
  --unnamed-color-2699fb: #2699FB;
  /* Font/text values */
  --unnamed-font-family-helvetica-neue: Helvetica Neue;
  --unnamed-font-family-georgia: Georgia;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-42: 42px;
  --unnamed-font-size-68: 68px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-10: 10px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-81: 81px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: var(--unnamed-font-family-helvetica-neue);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2699fb);
  overflow-x: hidden;
}
h1 {
  font-size: 2.25rem;
}
@media (min-width: 40em) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: var(--unnamed-line-spacing-40);
}
@media (min-width: 40em) {
  h2 {
    font-size: 2.625rem;
    line-height: var(--unnamed-line-spacing-50);
  }
}
h3 {
  font-size: 1rem;
  font-weight: 800;
}
a,
p {
  font-size: 1rem;
  line-height: 1.25rem;
}
@media (min-width: 40em) {
  a,
  p {
    font-size: 1.25rem;
    line-height: var(--unnamed-line-spacing-30);
  }
}
a {
  color: var(--unnamed-color-2699fb);
}
img {
  display: block;
  max-width: 100%;
  border: 1px solid #66a8e1;
}
svg {
  display: block;
  max-width: 100%;
}
label {
  display: block;
}
section {
  transition: opacity 0.1s;
}
.hide-element-translate {
  transform: translateY(-100vh);
}
.hide-element-opacity {
  opacity: 0;
}
.hide-element-display {
  display: none;
}
.hide-element-translate-opacity {
  opacity: 0 !important;
  transform: translateY(15rem) !important;
}
.navbar {
  background-color: #2699fb;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: opacity 0.25s;
  color: #ffffff;
  height: 8.5vh;
}
@media (min-width: 40em) {
  .navbar {
    height: 5.5rem;
  }
}
.navbar .inner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 40em) {
  .navbar .inner-content {
    justify-content: center;
    margin-left: -18rem;
  }
}
.navbar .inner-content .navbar-logo {
  width: 25%;
  margin: auto 0.75rem;
}
@media (min-width: 40em) {
  .navbar .inner-content .navbar-logo {
    margin: 0;
    padding: 3rem 3rem;
    width: 15rem;
  }
}
.navbar .inner-content .navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 8.5vh;
  margin: 0;
  padding: 4rem 4rem 2rem;
  background-color: #2699fb;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
@media (min-width: 40em) {
  .navbar .inner-content .navbar-links {
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
    transform: translateX(0);
    justify-content: space-around;
    width: 30%;
  }
}
.navbar .inner-content .navbar-links li {
  list-style: none;
  margin-bottom: 3rem;
  opacity: 0;
}
@media (min-width: 40em) {
  .navbar .inner-content .navbar-links li {
    margin-bottom: 0;
    margin-right: 1rem;
    opacity: 1;
  }
}
.navbar .inner-content .navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}
.navbar .inner-content .navbar-links.navbar-links-active {
  transform: translateX(0%);
}
.navbar .inner-content .navbar-burger {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}
@media (min-width: 40em) {
  .navbar .inner-content .navbar-burger {
    display: none;
  }
}
.navbar .inner-content .navbar-burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
  transform-origin: center;
}
.navbar .inner-content .navbar-burger.animate .line-1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.navbar .inner-content .navbar-burger.animate .line-2 {
  opacity: 0;
}
.navbar .inner-content .navbar-burger.animate .line-3 {
  transform: rotate(-45deg) translate(5px, -6px);
}
.intro-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  pointer-events: none;
}
@media (min-width: 40em) {
  .intro-overlay {
    justify-content: flex-end;
    width: 50%;
  }
}
.intro-overlay .inner-content {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  padding: 1rem;
  margin-top: 7rem;
  text-align: center;
}
@media (min-width: 40em) {
  .intro-overlay .inner-content {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 20vh;
  }
}
.intro-overlay .inner-content .intro-overlay-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.1s;
}
@media (min-width: 40em) {
  .intro-overlay .inner-content .intro-overlay-intro {
    align-items: flex-end;
    text-align: right;
  }
}
.intro-overlay .inner-content .intro-overlay-intro .blue-box {
  width: 247px;
  height: 47px;
  background-color: #66a8e1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 40em) {
  .intro-overlay .inner-content .intro-overlay-intro .blue-box {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}
.intro-overlay .inner-content h1 {
  text-transform: capitalize;
  margin-top: 0.5rem;
  line-height: 2.5rem;
}
@media (min-width: 40em) {
  .intro-overlay .inner-content h1 {
    margin-top: 3rem;
    line-height: 4.75rem;
  }
}
.section {
  width: 100%;
  height: 100vh;
}
.section.intro .inner-content {
  margin: 0 auto;
  width: min(90%, 88.125rem);
  height: 100vh;
  position: relative;
}
@media (min-width: 40em) {
  .section.intro .inner-content {
    display: flex;
    justify-content: flex-end;
  }
}
.section.intro .inner-content .inner-copy {
  position: absolute;
  margin-top: 17.55rem;
  text-align: center;
}
@media (min-width: 40em) {
  .section.intro .inner-content .inner-copy {
    width: 50%;
    padding-left: 1.25rem;
    margin-top: 20vh;
    padding-top: 10.5rem;
    text-align: left;
  }
}
.section.intro .inner-content .inner-copy p {
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .section.intro .inner-content .inner-copy p {
    margin-top: 1rem;
  }
}
.section.intro .inner-content .inner-copy button {
  background: var(--unnamed-color-2699fb);
  border: 1px solid #2699fb;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 3rem;
}
@media (min-width: 40em) {
  .section.intro .inner-content .inner-copy button {
    font-size: 1.125rem;
    padding: 1rem 4rem;
    margin-top: 4.6875rem;
  }
}
.section.intro.intro-1,
.section.intro.intro-3,
.section.intro.intro-5,
.section.intro.intro-7 {
  background: #def0ff;
}
.section.intro.intro-2,
.section.intro.intro-4,
.section.intro.intro-6 {
  background: #eff8ff;
}
.section.page .inner-content {
  margin: 0 auto;
  width: min(90%, 79.875rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.page .inner-content .card,
.section.page .inner-content .card-group,
.section.page .inner-content .inner-intro,
.section.page .inner-content .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section.page.page-intro {
  background: #f9fcfe;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content {
    margin-top: 2rem;
  }
}
.section.page.page-intro .inner-content .inner-intro {
  max-width: 42.25rem;
  margin-top: 3rem;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content .inner-intro {
    text-align: center;
    margin-top: 0;
  }
}
.section.page.page-intro .inner-content .inner-intro p {
  margin-top: 1rem;
}
.section.page.page-intro .inner-content .card-group {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section.page.page-intro .inner-content .card-group > * {
  flex-basis: 40%;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content .card-group {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 4rem;
  }
  .section.page.page-intro .inner-content .card-group > * {
    flex-basis: 100%;
  }
  .section.page.page-intro .inner-content .card-group > * + * {
    margin-left: 8.8125em;
  }
}
.section.page.page-intro .inner-content .card-group .card {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.section.page.page-intro .inner-content .card-group .card:first-child {
  margin-right: 1em;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content .card-group .card {
    margin-top: 0;
  }
  .section.page.page-intro .inner-content .card-group .card:first-child {
    margin-right: 0;
  }
}
.section.page.page-intro .inner-content .card-group .card .card-link {
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content .card-group .card .card-link {
    line-height: var(--unnamed-line-spacing-30);
  }
}
.section.page.page-intro .inner-content .card-group .card .card-link a {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-intro .inner-content .card-group .card .card-link a {
    font-size: 1.25rem;
    line-height: var(--unnamed-line-spacing-30);
  }
}
.section.page.page-side-by-side {
  background: #f9fcfe;
}
.section.page.page-side-by-side .inner-content {
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}
.section.page.page-side-by-side .inner-content > * {
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .section.page.page-side-by-side .inner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section.page.page-side-by-side .inner-content > * + * {
    margin-left: 4em;
  }
}
.section.page.page-side-by-side .inner-content .inner-intro {
  justify-content: flex-end;
}
.section.page.page-side-by-side .inner-content .inner-intro h2 {
  font-size: 2rem;
}
@media (min-width: 40em) {
  .section.page.page-side-by-side .inner-content .inner-intro h2 {
    font-size: 2.625rem;
    line-height: var(--unnamed-line-spacing-50);
  }
}
.section.page.page-side-by-side .inner-content .inner-intro p {
  margin-top: 1.625rem;
  font-size: 1rem;
  line-height: var(--unnamed-line-spacing-20);
}
@media (min-width: 40em) {
  .section.page.page-side-by-side .inner-content .inner-intro p {
    font-size: 1.25rem;
    line-height: var(--unnamed-line-spacing-30);
  }
}
.section.page.page-side-by-side .inner-content .card-group {
  justify-content: flex-start;
  padding: 0 2rem;
  margin-top: 3rem;
}
@media (min-width: 40em) {
  .section.page.page-side-by-side .inner-content .card-group {
    padding: 0;
    margin-top: 0;
  }
}
.section.page.page-testimonial {
  background-image: url('../images/testimonial-bg.jpg');
  background-size: cover;
}
.section.page.page-testimonial .inner-content {
  width: min(90%, 85em);
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group {
    margin-top: 9rem;
  }
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group .card {
    flex-direction: row;
    align-items: center;
  }
  .section.page.page-testimonial .inner-content .card-group .card > * {
    flex-basis: 100%;
  }
  .section.page.page-testimonial .inner-content .card-group .card > * + * {
    margin-left: 6.75rem;
  }
  .section.page.page-testimonial .inner-content .card-group .card .card-image {
    flex-basis: 40%;
  }
}
.section.page.page-testimonial .inner-content .card-group .card .card-image {
  padding: 2rem;
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group .card .card-image {
    padding: 0;
  }
}
.section.page.page-testimonial .inner-content .card-group .card .card-image img {
  border-radius: 50%;
  object-fit: cover;
}
.section.page.page-testimonial .inner-content .card-group .card .card-content p {
  font-family: var(--unnamed-font-family-georgia);
  font-style: italic;
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group .card .card-content p {
    font-size: 2.25rem;
    line-height: var(--unnamed-line-spacing-40);
  }
}
.section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.125rem;
}
.section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature > * {
  flex-basis: 100%;
}
.section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature .card-signature-image {
  flex-basis: 40%;
  margin-right: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature .card-signature-image {
    flex-basis: 20%;
    margin-left: 1rem;
  }
}
.section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature p {
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-family: var(--unnamed-font-family-helvetica-neue);
}
@media (min-width: 40em) {
  .section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature p {
    font-size: 1.25rem;
  }
}
.section.page.page-testimonial .inner-content .card-group .card .card-content .card-signature p span {
  font-weight: var(--unnamed-font-weight-bold);
}
.section.page.page-partners {
  background: #f9fcfe;
}
.section.page.page-partners .inner-content {
  width: min(90%, 95em);
  margin-top: 2rem;
}
@media (min-width: 40em) {
  .section.page.page-partners .inner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  .section.page.page-partners .inner-content > * {
    flex-basis: 100%;
  }
}
.section.page.page-partners .inner-content .inner-intro {
  margin-right: 0;
}
@media (min-width: 40em) {
  .section.page.page-partners .inner-content .inner-intro {
    margin-right: 9.75rem;
  }
}
.section.page.page-partners .inner-content .inner-intro p {
  margin-top: 1.625rem;
}
@media (min-width: 40em) {
  .section.page.page-partners .inner-content .inner-intro p {
    margin-top: 5.1875rem;
  }
}
.section.page.page-partners .inner-content .card-group {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1rem;
  margin-top: 3rem;
  width: 100%;
  padding: 0 1rem;
}
@media (min-width: 40em) {
  .section.page.page-partners .inner-content .card-group {
    padding: 0;
  }
}
.section.page.page-partners .inner-content .card-group .card {
  background-color: var(--unnamed-color-2699fb);
}
.section.page.page-partners .inner-content .card-group .card:nth-child(1),
.section.page.page-partners .inner-content .card-group .card:nth-child(4),
.section.page.page-partners .inner-content .card-group .card:nth-child(7) {
  margin-left: 0;
}
.section.page.page-news-media {
  background: #f9fcfe;
}
.section.page.page-news-media .inner-content {
  width: min(90%, 95em);
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .section.page.page-news-media .inner-content > * {
    flex-basis: 100%;
  }
}
.section.page.page-news-media .inner-content .inner-intro {
  justify-content: space-between;
}
.section.page.page-news-media .inner-content .inner-intro p {
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content .inner-intro p {
    margin-top: 4.1875rem;
    margin-right: 9.95rem;
  }
}
.section.page.page-news-media .inner-content .inner-intro p + p {
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content .inner-intro p + p {
    margin-top: 11rem;
  }
}
.section.page.page-news-media .inner-content .card-group {
  width: 100%;
  margin-top: 4rem;
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content .card-group {
    margin-top: 0;
    margin-left: 24rem;
  }
}
.section.page.page-news-media .inner-content .card-group .card {
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content .card-group .card {
    margin-top: 2rem;
  }
}
.section.page.page-news-media .inner-content .card-group .card .card-content {
  text-align: left;
  flex-basis: 100%;
}
.section.page.page-news-media .inner-content .card-group .card .card-image {
  flex-basis: 10%;
}
@media (min-width: 40em) {
  .section.page.page-news-media .inner-content .card-group .card .card-image {
    flex-basis: 100%;
  }
}
.section.page.page-contact-us {
  background: #eff7fd;
}
.section.page.page-contact-us .inner-content {
  flex-direction: row;
  align-items: center;
}
.section.page.page-contact-us .inner-content > * {
  flex-basis: 100%;
}
.section.page.page-contact-us .inner-content .main {
  display: flex;
  flex-direction: column;
}
.section.page.page-contact-us .inner-content .main > * {
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main {
    flex-direction: row;
    align-items: flex-start;
    margin-top: -7rem;
  }
}
.section.page.page-contact-us .inner-content .main .inner-intro p {
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .inner-intro p {
    margin-top: 3.25rem;
  }
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .inner-intro {
    padding-right: 6rem;
    flex-basis: 40%;
  }
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form {
    flex-basis: 60%;
  }
}
.section.page.page-contact-us .inner-content .main .form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section.page.page-contact-us .inner-content .main .form form > * {
  flex-basis: 50%;
}
@media (min-width: 40em) {
}
.section.page.page-contact-us .inner-content .main .form form label {
  font-size: 0.875rem;
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form label {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form input,
.section.page.page-contact-us .inner-content .main .form form select {
  width: 100%;
  height: 2rem;
  padding-left: 1rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form input,
  .section.page.page-contact-us .inner-content .main .form form select {
    height: 2.5rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form select,
.section.page.page-contact-us .inner-content .main .form form textarea {
  color: var(--unnamed-color-2699fb);
}
.section.page.page-contact-us .inner-content .main .form form input,
.section.page.page-contact-us .inner-content .main .form form select,
.section.page.page-contact-us .inner-content .main .form form textarea {
  margin-top: 0.25rem;
  border: 1px solid var(--unnamed-color-2699fb);
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form input,
  .section.page.page-contact-us .inner-content .main .form form select,
  .section.page.page-contact-us .inner-content .main .form form textarea {
    margin-top: 0.25rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form input::placeholder {
  color: var(--unnamed-color-2699fb);
}
.section.page.page-contact-us .inner-content .main .form form input[type=submit] {
  background: var(--unnamed-color-2699fb);
  border: 1px solid #2699fb;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 7rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form input[type=submit] {
    font-size: 1.125rem;
    width: 14rem;
    height: 4rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form textarea {
  width: 100%;
  height: 8rem;
  padding: 1rem;
  font-family: var(--unnamed-font-family-helvetica-neue);
  line-height: var(--unnamed-line-spacing-20);
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form textarea {
    height: 8rem;
    line-height: var(--unnamed-line-spacing-30);
  }
}
.section.page.page-contact-us .inner-content .main .form form .submit,
.section.page.page-contact-us .inner-content .main .form form .message {
  flex-basis: 100%;
}
.section.page.page-contact-us .inner-content .main .form form .email,
.section.page.page-contact-us .inner-content .main .form form .last-name {
  padding-left: 0.25rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form .email,
  .section.page.page-contact-us .inner-content .main .form form .last-name {
    padding-left: 0.5rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form .topic,
.section.page.page-contact-us .inner-content .main .form form .first-name {
  padding-right: 0.25rem;
}
@media (min-width: 40em) {
  .section.page.page-contact-us .inner-content .main .form form .topic,
  .section.page.page-contact-us .inner-content .main .form form .first-name {
    padding-right: 0.5rem;
  }
}
.section.page.page-contact-us .inner-content .main .form form .submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.section.page.page-contact-us .inner-content .main .form form .submit input {
  padding: 0;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--unnamed-color-2699fb);
  transition: opacity 0.05s, transform 0.55s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 40em) {
  .footer {
    height: 12rem;
  }
}
.scroll-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: opacity 1s, transform 0.5s;
}
.scroll-nav.hide-scroll-down .inner-content {
  flex-direction: column;
  align-items: center;
}
.scroll-nav.hide-scroll-down .inner-content .scroll-down {
  display: none;
}
.scroll-nav.hide-scroll-down .inner-content .skip-intro {
  width: 100%;
  padding: 0;
}
.scroll-nav .inner-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.scroll-nav .inner-content > * {
  flex-basis: 50%;
}
.scroll-nav .inner-content div {
  cursor: pointer;
  width: 4rem;
}
.scroll-nav .inner-content .scroll-down::after {
  content: '|';
  padding-left: 0.5rem;
}
.scroll-nav .inner-content .skip-intro {
  padding-left: 0.5rem;
}
.scroll-nav .inner-content .down-arrow svg {
  width: 18px;
  height: 18px;
  margin: 0 auto;
  transform: translateX(-2px) rotate(90deg);
}
#fp-nav {
  display: none;
}
@media (min-width: 40em) {
  #fp-nav {
    display: block;
  }
}
#fp-nav li {
  margin: 0 !important;
  margin-bottom: 0.75rem !important;
}
#fp-nav li:hover a span {
  transform: scale(1.25) !important;
}
#fp-nav li a span {
  width: 12px !important;
  height: 12px !important;
  background: #ffffff !important;
  display: inline-block;
  border: 1px solid #2699FB !important;
  margin: 0 !important;
}
#fp-nav li a.active span {
  width: 22px !important;
  height: 22px !important;
  margin: -5px 0 0 -5px !important;
}
#page-home-3 .inner-content {
  flex-direction: column-reverse;
}
@media (min-width: 40em) {
  #page-home-3 .inner-content {
    flex-direction: row;
  }
}
#page-testimonial-1 .inner-content {
  padding-top: 4rem;
}
@media (min-width: 40em) {
  #page-testimonial-1 .inner-content {
    padding-top: 0;
  }
}
#page-testimonial-2 .inner-content {
  padding-top: 5rem;
}
@media (min-width: 40em) {
  #page-testimonial-2 .inner-content {
    padding-top: 0;
  }
}
@keyframes navbarLinksFade {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
