:root {

    /* Colors: */
    --unnamed-color-2699fb: #2699FB;
    
    /* Font/text values */
    --unnamed-font-family-helvetica-neue: Helvetica Neue;
    --unnamed-font-family-georgia: Georgia;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-42: 42px;
    --unnamed-font-size-68: 68px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-10: 10px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-40: 40px;
    --unnamed-line-spacing-50: 50px;
    --unnamed-line-spacing-81: 81px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-2699fb);
    overflow-x: hidden;
}

h1 {
    font-size: 2.25rem;

    @media (min-width: 40em) {
        font-size: 4rem;
    }
}

h2 {
    font-weight: 400;
    font-size: 2em;
    line-height: var(--unnamed-line-spacing-40);

    @media (min-width: 40em) {
        font-size: 2.625rem;
        line-height: var(--unnamed-line-spacing-50);
    }
}

h3 {
    font-size: 1rem;
    font-weight: 800;
}

a,
p {
    font-size: 1rem;
    line-height: 1.25rem;

    @media (min-width: 40em) {
        font-size: 1.25rem;
        line-height: var(--unnamed-line-spacing-30);
    }
}

a {
    color: var(--unnamed-color-2699fb);   
}

img {
    display: block;
    max-width: 100%;
    border: 1px solid #66a8e1;
}

svg {
    display: block;
    max-width: 100%;
}

label {
    display: block;
}

section {
    transition: opacity .1s;
}
// div {
//     border: 1px solid red;
// }

.hide-element-translate {
    transform: translateY(-100vh);
}

.hide-element-opacity {
    opacity: 0;
}

.hide-element-display {
    display: none;
}

.hide-element-translate-opacity {
    opacity: 0 !important;
    transform: translateY(15rem) !important;
}

.navbar {
    background-color: #2699fb;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: opacity .25s;
    color: #ffffff;
    height: 8.5vh;

    @media (min-width: 40em) {
        height: 5.5rem;
    }

    .inner-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        @media (min-width: 40em) {
            justify-content: center;
            margin-left: -18rem;
        }

        .navbar-logo {
            width: 25%;
            margin: auto .75rem;
    
            @media (min-width: 40em) {
                margin: 0;
                padding: 3rem 3rem;
                width: 15rem;
            }
        }
        
        .navbar-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 8.5vh;
            margin: 0;
            padding: 4rem 4rem 2rem;
            background-color: #2699fb;
            transform: translateX(100%);
            transition: transform .3s ease-out;
    
            @media (min-width: 40em) {
                flex-direction: row;
                position: relative;
                top: 0;
                padding: 0;
                transform: translateX(0);
                justify-content: space-around;
                width: 30%;
            }
        
            li {
                list-style: none;
                margin-bottom: 3rem;
                opacity: 0;
    
                @media (min-width: 40em) {
                    margin-bottom: 0;
                    margin-right: 1rem;
                    opacity: 1;
                }
    
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
    
            &.navbar-links-active {
                transform: translateX(0%);
            }
        }
    
        .navbar-burger {
            display: block;
            margin-right: 1rem;
            cursor: pointer;
    
            @media (min-width: 40em) {
                display: none;
            }
    
            div {
                width: 25px;
                height: 3px;
                background-color: #ffffff;
                margin: 5px;
                border-radius: 4px;
                transition: all .3s ease;
                transform-origin: center;
            }
    
            &.animate {
                .line-1 {
                    transform: rotate(45deg) translate(5px, 6px);
                }
    
                .line-2 {
                    opacity: 0;            
                }
    
                .line-3 {
                    transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }
    }
}

.intro-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
    pointer-events: none;

    @media (min-width: 40em) {
        justify-content: flex-end;
        width: 50%;
    }

    .inner-content {
        // height: 100vh;
        display: flex;
        flex-direction: column;
        transition: transform .5s;
        padding: 1rem;
        margin-top: 7rem;
        text-align: center;

        @media (min-width: 40em) {
            padding: 0;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: 20vh;
        }

        .intro-overlay-intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: opacity .1s;

            @media (min-width: 40em) {
                align-items: flex-end;
                text-align: right;
            }

            .blue-box {
                width: 247px;
                height: 47px;
                background-color: #66a8e1;
                margin-top: 1rem;
                margin-bottom: 1rem;

                @media (min-width: 40em) {
                    margin-top: 3rem;
                    margin-bottom: 0;
                }
            }
        }
    
        h1 {
            text-transform: capitalize;
            margin-top: .5rem;
            line-height: 2.5rem;

            @media (min-width: 40em) {
                margin-top: 3rem;
                line-height: 4.75rem;
            }
        }
    }
}

.section {
    width: 100%;
    height: 100vh;

    &.intro {
        .inner-content {
            margin: 0 auto;
            width: ~"min(90%, 88.125rem)";
            height: 100vh;
            position: relative;

            @media (min-width: 40em) {
                display: flex;
                justify-content: flex-end;
            }

            .inner-copy {
                position: absolute;
                margin-top: 17.55rem;
                text-align: center;

                @media (min-width: 40em) {
                    width: 50%;
                    padding-left: 1.25rem;
                    margin-top: 20vh;
                    padding-top: 10.5rem;
                    text-align: left;
                }

                p {
                    margin-top: 1rem;

                    @media (min-width: 40em) {
                        margin-top: 1rem;
                    }
                }

                button {
                    background: var(--unnamed-color-2699fb);                           
                    border: 1px solid #2699fb;
                    color: #ffffff;
                    border-radius: 4px;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 1rem 2rem;
                    cursor: pointer;
                    margin-top: 3rem;

                    @media (min-width: 40em) {
                        font-size: 1.125rem;
                        padding: 1rem 4rem;
                        margin-top: 4.6875rem;
                    }
                }
            }

            // .split {
            //     height: 100vh;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;

            //     & > * {
            //         flex-basis: 100%;
            //     }

            //     @media (min-width: 40em) {
            //         flex-direction: row;
            //         align-items: flex-start;

            //         & > * + * {
            //             margin-left: 2.25rem;
            //         }
            //     }

            //     h1 {
            //         text-transform: capitalize;
            //     }

            //     .split-right {    
            //         display: flex;
            //         flex-direction: row;

            //         @media (min-width: 40em) {
            //             display: block;
            //             margin-top: 31.55rem;
            //         }
                    
            //         p {
            //             margin-top: 1rem;
            //             max-width: 32.75rem;
            //         }
            
            //         .button {  
            //             margin-top: 3rem;

            //             @media (min-width: 40em) {
            //                 margin-top: 4.6875rem;
            //             }
          
            //             .cmp-button {
            //                 background: var(--unnamed-color-2699fb);                           border: 1px solid #2699fb;
            //                 color: #ffffff;
            //                 border-radius: 4px;
            //                 font-size: 1.125rem;
            //                 font-weight: bold;
            //                 padding: 1rem 4rem;
            //                 cursor: pointer;
            //               }
            //         }

            //         @media (min-width: 40em) {

            //             .button {
            //                 margin-top: 4.6875rem;
            //             }
            //         }
            //     }
            // }
        }
    
        &.intro-1,
        &.intro-3,
        &.intro-5,
        &.intro-7 {
            background: #def0ff;
        }
    
        &.intro-2,
        &.intro-4,
        &.intro-6 {
            background: #eff8ff;
        }
    }

    &.page {
        .inner-content {
            margin: 0 auto;
            width: ~"min(90%, 79.875rem)";
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card,
            .card-group,
            .inner-intro,
            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        
        &.page-intro {
            background: #f9fcfe;

            .inner-content {
                @media (min-width: 40em) {
                    margin-top: 2rem;
                }

                .inner-intro {
                    max-width: 42.25rem;
                    margin-top: 3rem;

                    @media (min-width: 40em) {
                        text-align: center;
                        margin-top: 0;
                    }

                    p {
                        margin-top: 1rem;
                    }
                }

                .card-group {
                    display: flex;
                    flex-direction: row;
                    margin-top: 1rem;
                    justify-content: center;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    & > * {
                        flex-basis: 40%;
                    }

                    @media (min-width: 40em) {
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        margin-top: 4rem;

                        & > * {
                            flex-basis: 100%;
                        }

                        & > * + * {
                            margin-left: 8.8125em;
                        }
                    }

                    .card {
                        display: flex;
                        flex-direction: column;
                        margin-top: 2rem;

                        &:first-child {
                            margin-right: 1em;
                        }

                        @media (min-width: 40em) {
                            margin-top: 0;

                            &:first-child {
                                margin-right: 0;
                            }
                        }
                        
                        .card-link {
                            margin-top: 1rem;
                            text-align: center;

                            @media (min-width: 40em) {
                                line-height: var(--unnamed-line-spacing-30);
                            }

                            a {
                                display: inline-block;
                                font-size: .75rem;
                                line-height: 1rem;

                                @media (min-width: 40em) {
                                    font-size: 1.25rem;
                                    line-height: var(--unnamed-line-spacing-30);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.page-side-by-side {
            background: #f9fcfe;

            .inner-content {
                flex-direction: column;
                justify-content: center;
                padding-top: 4rem;

                & > * {
                    flex-basis: 100%;
                }

                @media (min-width: 40em) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    & > * + * {
                        margin-left: 4em;
                    }
                }

                .inner-intro {
                    justify-content: flex-end;

                    h2 {
                        font-size: 2rem;

                        @media (min-width: 40em) {
                            font-size: 2.625rem;
                            line-height: var(--unnamed-line-spacing-50);
                        }
                    }

                    p {
                        margin-top: 1.625rem;
                        font-size: 1rem;
                        line-height: var(--unnamed-line-spacing-20);

                        @media (min-width: 40em) {
                            font-size: 1.25rem;
                            line-height: var(--unnamed-line-spacing-30);
                        }
                    }
                }

                .card-group {
                    justify-content: flex-start;
                    padding: 0 2rem;
                    margin-top: 3rem;

                    @media (min-width: 40em) {
                        padding: 0;
                        margin-top: 0;
                    }
                }
            }
        }
        
        &.page-testimonial {
            background-image: url('../images/testimonial-bg.jpg');
            background-size: cover;

            .inner-content {
                width: ~"min(90%, 85em)";

                .card-group {
                    @media (min-width: 40em) {
                        margin-top: 9rem;
                    }

                    .card {
                        @media (min-width: 40em) {
                            flex-direction: row;
                            align-items: center;
        
                            & > * {
                                flex-basis: 100%;
                            }
        
                            & > * + * {
                                margin-left: 6.75rem;
                            }
        
                            .card-image {
                                flex-basis: 40%;
                            }
                        }
        
                        .card-image {
                            padding: 2rem;

                            @media (min-width: 40em) {
                                padding: 0;
                            }

                            img {
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                        .card-content {
                            p {
                                font-family: var(--unnamed-font-family-georgia);
                                font-style: italic;

                                @media (min-width: 40em) {
                                    font-size: 2.25rem;
                                    line-height: var(--unnamed-line-spacing-40);
                                }
                            }

                            .card-signature {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin-top: 3.125rem;

                                & > * {
                                    flex-basis: 100%;
                                }
                
                                .card-signature-image {
                
                                    flex-basis: 40%;
                                    margin-right: 1rem;

                                    @media (min-width: 40em) {
                                        flex-basis: 20%;
                                        margin-left: 1rem;
                                    }
                                }
                
                                p {
                                    text-align: right;
                                    font-size: .875rem;
                                    font-style: normal;
                                    font-family: var(--unnamed-font-family-helvetica-neue);

                                    @media (min-width: 40em) {
                                        font-size: 1.25rem;
                                    }

                                    span {
                                        font-weight: var(--unnamed-font-weight-bold);
                                    }
                                }
                            }
                        }
                    }
                }    
            }
        }

        &.page-partners {
            background: #f9fcfe;

            .inner-content {
                width: ~"min(90%, 95em)";
                margin-top: 2rem;

                @media (min-width: 40em) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 0;

                    & > * {
                        flex-basis: 100%;
                    }
                }

                .inner-intro {
                    margin-right: 0;

                    @media (min-width: 40em) {
                        margin-right: 9.75rem;
                    }

                    p {
                        margin-top: 1.625rem;

                        @media (min-width: 40em) {
                            margin-top: 5.1875rem;
                        }
                    }
                }

                .card-group {
                    display: grid;
                    grid-template-columns: repeat(3, 33%);
                    grid-gap: 1rem;
                    margin-top: 3rem;
                    width: 100%;
                    padding: 0 1rem;

                    @media (min-width: 40em) {
                        padding: 0;
                    }
                    
                    .card {
                        background-color: var(--unnamed-color-2699fb);
                    
                        &:nth-child(1),
                        &:nth-child(4),
                        &:nth-child(7) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        &.page-news-media {
            background: #f9fcfe;

            .inner-content {
                width: ~"min(90%, 95em)";

                @media (min-width: 40em) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    & > * {
                        flex-basis: 100%;
                    }
                }

                .inner-intro {
                    justify-content: space-between;

                    p {
                        margin-top: 1rem;

                        @media (min-width: 40em) {
                            margin-top: 4.1875rem;
                            margin-right: 9.95rem;
                        }
                    }

                    p + p {
                        margin-top: 1rem;

                        @media (min-width: 40em) {
                            margin-top: 11rem;
                        }
                    }
                }

                .card-group {
                    width: 100%;

                    margin-top: 4rem;

                    @media (min-width: 40em) {
                        margin-top: 0;
                        margin-left: 24rem;
                    }
                
                    .card {
                        flex-direction: row;
                        justify-content: space-between;

                        @media (min-width: 40em) {
                            margin-top: 2rem;
                        }

                        .card-content {
                            text-align: left;
                            flex-basis: 100%;
                        }

                        .card-image {
                            flex-basis: 10%;
                            
                            @media (min-width: 40em) {
                                flex-basis: 100%;
                            }
                        }
                    }
                }
            }
        }

        &.page-contact-us {
            background: #eff7fd;

            .inner-content {
                flex-direction: row;
                align-items: center;

                & > * {
                    flex-basis: 100%;
                }

                .main {
                    display: flex;
                    flex-direction: column;
                    
                    & > * {
                        flex-basis: 100%;
                    }

                    @media (min-width: 40em) {
                        flex-direction: row;
                        align-items: flex-start;
                        margin-top: -7rem;
                    }

                    .inner-intro {
                        p {
                            margin-top: 1rem;
    
                            @media (min-width: 40em) {
                                margin-top: 3.25rem;
                            }
                        }
    
                        @media (min-width: 40em) {
                            padding-right: 6rem;
                            flex-basis: 40%;
                        }
                    }
    
                    .form {
                        @media (min-width: 40em) {
                            flex-basis: 60%;
                        }

                        form {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
    
                            & > * {
                                flex-basis: 50%;
                            }
    
    
                            @media (min-width: 40em) {
                                // flex-direction: column;
                                // flex-wrap: nowrap;
                                // padding-left: 3rem;
    
                                // & > * {
                                //     flex-basis: 50%;
                                // }
                            }
    
                            label {
                                font-size: .875rem;
                                margin-top: 1rem;
        
                                @media (min-width: 40em) {
                                    font-size: 1.25rem;
                                    margin-top: 1rem;
                                }
                            }
        
                            input,
                            select {
                                width: 100%;
                                height: 2rem;
                                padding-left: 1rem;
        
                                @media (min-width: 40em) {
                                    height: 2.5rem;
                                }
                            }
        
                            select,
                            textarea {
                                color: var(--unnamed-color-2699fb);
                            }
        
                            input,
                            select,
                            textarea {
                                margin-top: .25rem;
                                border: 1px solid var(--unnamed-color-2699fb);
        
                                @media (min-width: 40em) {
                                    margin-top: .25rem;
                                }                    
                            }
        
                            input {
                                &::placeholder {
                                    color: var(--unnamed-color-2699fb);   
                                }
                            }
        
                            input[type=submit] {
                                background: var(--unnamed-color-2699fb);                           
                                border: 1px solid #2699fb;
                                color: #ffffff;
                                border-radius: 4px;
                                cursor: pointer;
                                font-weight: bold;
                                font-size: 1rem;
                                width: 7rem;
        
                                @media (min-width: 40em) {
                                    font-size: 1.125rem;
                                    width: 14rem;
                                    height: 4rem;
                                }
                            }
        
                            textarea {
                                width: 100%;
                                height: 8rem;
                                padding: 1rem;
                                font-family: var(--unnamed-font-family-helvetica-neue);
                                line-height: var(--unnamed-line-spacing-20);
        
                                @media (min-width: 40em) {
                                    height: 8rem;
                                    line-height: var(--unnamed-line-spacing-30);
                                }
                            }
    
                            .submit,
                            .message {
                                flex-basis: 100%;
                            }
    
                            .email,
                            .last-name {
                                padding-left: .25rem;

                                @media (min-width: 40em) {
                                    padding-left: .5rem;
                                }
                            }
    
                            .topic,
                            .first-name {
                                padding-right: .25rem;
    
                                @media (min-width: 40em) {
                                    padding-right: .5rem;
                                }
                            }
    
                            .submit {
                                display: flex;
                                justify-content: flex-end;
                                margin-top: 1rem;
    
                                input {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: var(--unnamed-color-2699fb);
    transition: opacity .05s, transform .55s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    transform: translateY(0);

    @media (min-width: 40em) {
        height: 12rem;
    }
}

.scroll-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: opacity 1s, transform .5s;

    &.hide-scroll-down {
        .inner-content {
            flex-direction: column;
            align-items: center;

            .scroll-down {
                display: none;
            }

            .skip-intro {
                width: 100%;
                padding: 0;
            }
        }
    }

    .inner-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: .5rem;

        & > * {
            flex-basis: 50%;
        }

        div {
            cursor: pointer;
            width: 4rem;
        }

        .scroll-down {
            &::after {
                content: '|';
                padding-left: .5rem;
            }
        }

        .skip-intro {
            padding-left: .5rem;
        }

        .down-arrow {

            svg {
                width: 18px;
                height: 18px;
                margin: 0 auto;
                transform: translateX(-2px) rotate(90deg);
            }

        }
    }
}

#fp-nav {
    display: none;
    
    @media (min-width: 40em) {
        display: block;
    }

    li {
        margin: 0 !important;
        margin-bottom: .75rem !important;

        &:hover {
            a {
                span {
                    transform: scale(1.25) !important;
                }
            }
        }

        a {
            span {
                width: 12px !important;
                height: 12px !important;
                background: #ffffff !important;
                display: inline-block;
                border: 1px solid #2699FB !important;
                margin: 0 !important;
            }
    
            &.active {
                span {
                    width: 22px !important;
                    height: 22px !important;
                    margin: -5px 0 0 -5px !important;
                }
            }
        }
    }
}

#page-home-3 {
    .inner-content {
        flex-direction: column-reverse;

        @media (min-width: 40em) {
            flex-direction: row;
        }
    }
}

#page-testimonial-1 {
    .inner-content {
        padding-top: 4rem;

        @media (min-width: 40em) {
            padding-top: 0;
        }
    }
}

#page-testimonial-2 {
    .inner-content {
        padding-top: 5rem;

        @media (min-width: 40em) {
            padding-top: 0;
        }
    }
}

@keyframes navbarLinksFade {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}